<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-14">
    <div>

      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <!-- <div class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a href="/" class="text-black inline-flex items-center gap-3">
              <svg
                class="h-4"
                viewBox="0 0 78 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z"
                  class="ccustom"
                  fill="#283CFF"></path>
                <path
                  d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z"
                  class="ccompli1"
                  fill="#5263FF"></path>
                <path
                  d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z"
                  class="ccompli2"
                  fill="#808CFF"></path>
              </svg>
              <span class="font-bold font-display">
                Kednosor
              </span>
            </a>
          </div> -->
        </div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8">
          Llevamos tu negocio a su máxima expresión
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Brindamos tecnologías que potencian la organización y la eficiencia en negocios digitales.
        </p>
      </div>

      <div class="flex justify-center gap-3 mt-10 mb-20 flex-col sm:flex-row">
        <button class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex 
              duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border">
          ¿Cómo te ayudamos?
        </button>
        <!-- <a class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex 
            bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
            href="https://ked.center">
          Contratar Ked Center 
          &nbsp; 
          &rarr;
        </a> -->
        <a class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-white
            focus:outline-none inline-flex bg-purple-700 border-2 border-white duration-200 focus-visible:ring-white 
            hover:bg-purple-900 hover:border-white hover:text-white lg:w-auto px-6 py-3 text-center
            text-white w-full"
            href="https://ked.center">
          Contratar Ked Center 
          &nbsp; 
          &rarr;
        </a>
      </div>

      <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid
         sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700">
            Ked Center es nuestro producto estrella
          </strong> 
            ━ Es un <i> SOFTWARE EN LA NUBE </i>, fácil de usar y que te
            permite llevar adelante el control de tu negocio.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">
            La gestión de tu stock tiene un aliado clave
          </strong> 
          ━ Todo el poder de la tecnología 
          te respalda para tener tu stock realmente en tus manos.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">
            Detrás de la tecnología, están los profesionales
          </strong> 
          ━ Nuestro equipo puede apoyarte para alcanzar
          el éxito. En <i> Desarrollo de software </i>, <i>estrategias de marketing</i>
          y <i> diseño gráfico</i>, entre otros.
        </div>
      </dl>

    </div>

    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="<!-- bg-gray-100 --> bg-purple-100	 p-8 rounded-3xl">
        <img
          alt="#_"
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
        />
      </div>
    </div>
    <!-- <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8" src="/Gumroad.svg" />
      </div>
    </div> -->
  </div>
</section>
