<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            ¡Podemos impulsar tus negocios!
          </p>
          <p class="text-base mt-4 text-gray-500">
            Si necesitas un equipo que lleve adelante un proyecto tecnológico desafiante, 
            tanto en el desarrollo de software como en marketing y diseño gráfico.
          </p>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border">
       <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
          />
       </div>
      </div>
    </div>

    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">

      <div>

        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img">
            </ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Desarrollo de software
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Desarrollamos el sitio web, la app o la herramienta que necesitas 
          para impulsar tus negocios o fortalecer tu organización.
        </p>

      </div>
      
      <div>

        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img">
            </ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Comunicación gráfica y diseño de marca
          </p>
        </div>

        <p class="text-gray-500 text-sm mt-4">
          Convertimos el propósito de tu organización en un mensaje claro y consitente,
          a través de elementos gráficos y otros recursos de comunicación de marca.
        </p>

      </div>
      
      <div>

        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img">
            </ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Estrategias de crecimiento
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Potenciamos el crecimiento de tu marca y te ayudamos a alcanzar objetivos
          de venta con estrategias robustas de marketing digital.
        </p>

      </div>

    </div>
  </div>
</section>
